<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <div *ngFor ="let tag of donation">
    <ion-label> 
    {{tag.furniture}}</ion-label>
    
    {{tag.clothes}}

 <!-- <ion-label [(ngModel)]="donations_info.furniture"></ion-label> -->

</div>
ش
</ion-list>
<ion-content>
    